<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://www.youtube.com/channel/UCKgFE-JyBvh0oxcpWNixvzg" target="_blank" class="icon circle""><img src="images/youtube-icon.png" width="52" height="52"></img></a></li>
        <li><a href="https://twitter.com/eofarm_pc" target="_blank" class="icon circle""><img src="images/twitter-logo.png" width="52" height="52"></img></a></li>
        <li><a href="https://github.com/EOFarm" target="_blank" class="icon circle"><img src="images/logo-github.svg" width="52" height="52"></img></a></li>
        <!-- <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
        <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li> -->
    </ul>

    <ul class="copyright">
        <li style="line-height: 35px;">
            &copy; <a href="{{ site.baseurl }}/">EOfarm P.C.</a> </br>
            Aminta 7 Eleonas </br>
            48100, Preveza, Greece </br>
            <a href="mailto:info@eofarm.com">info@eofarm.com</a>
        </li>
    </ul>

</footer>